:root{
    --main-bg-color:#F7FFFF;
    --primary-black:#1E1E1E;
    --primary-mint:#00C2CB;
    --grey-transparent:rgba(201, 201, 201, 0.7);
}
body{
    background:var(--main-bg-color);
}
header{
    padding:25px 0;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:var(--primary-black)!important;
    margin:0 25px;
}
.nav-btn{
    border:1px solid #000;
    padding:10px 20px;
}
#artboard{
    margin-top: 100px;
}
#artboard h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
}
#artboard img{
    width:100%;
}
@keyframes art{
    0% {
       position: relative;
       top:0px;
      }
     
      50% {
        position: relative;
        top:-20px;
      }
       
      100% {
        position: relative;
       top:0px;
      }
}
.art{
    
    animation: art 3.5s infinite;
}
.btn-mint{
    background:var(--primary-mint);
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 23px;
    padding: 12px 20px;
    border-radius:5px;
}
.navDropdown .dropdown-menu{
    background: #192A42;
    color: #9FBBDA;
    min-width:450px;
    width:100%;
    padding:40px;
    margin-left: -160px;
}
.navDropdown .dropdown-menu a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:white;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}
.iconPPC:before{
    content:url(./image/iconPPC.svg);
    width:32px;
    height:27px;
   left: -25px;
    position:absolute;
    top:10px;
   
}
.iconSEO:before{
    content:url(./image/seo.svg);
    width:32px;
    height:27px;
   left: -25px;
    position:absolute;
    top:10px;
   
}
.iconMail:before{
    content:url(./image/iconTelegramm.svg);
    width:32px;
    height:27px;
   left: -25px;
    position:absolute;
    top:10px;
   
}
.navDropdown .dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
}
.navDropdown  .dropdown-item{
    margin:20px 0;
    position: relative;
}
.titleMenu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:#9FBBDA;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px; 
}
.navDropdown .description-dropdown{
    display:block;
    color:#9FBBDA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; 
    text-transform: none;
    white-space:normal;
    font-style: normal;
}
.navDropdown .dropdown-toggle::after{
    display: none!important;
}
.navDropdown .dropdown-menu:before{
    content: ''; 
    position: absolute; 
    left: 50%; top: -20px; 
    border: 10px solid transparent;  
    border-bottom: 10px solid #192A42; 
    margin-left: -10px;
}

/* section counter */
.counter-container{
    background: #fff;
    padding:30px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 70px auto;
    text-align: center;
}
.count-number{
    width:94px;
    height:94px;
    background: #D6FDFF;
    color:var(--primary-mint);
    border-radius:50%;
    margin:auto;
    text-align: center;
}
.count-number span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height:30px;
}
.count-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:22px;
    text-align: center;
    margin-top: 35px;
    color:var(--primary-black);
}
.counter-container .row>div{
    max-width:200px;
}
.counter-container .row{
    justify-content: space-around;
}
/* section work */

#work{
    background: #D6FDFF;
    padding:70px 0;
}
.work-container{
    background: #fff;
}